* { box-sizing: border-box; }

/* @media screen and (orientation: landscape) {
body { background-color: coral; }
}
@media screen and (orientation: portrait) {
body { background-color: skyblue; }
} */


@media screen and (orientation: portrait) {
    #Horarios td {
        font-size:30px;
    }
    #Horarios th {
        font-size:30px;
    }
}

@media (max-width: 800px) {
    

}

body{
    background-color: #dac1ae; 
    align-items: center;
    padding: 20px;
}
#primeiro {
    display: flex;
    align-items: center;
    gap: 10px; 
    flex-wrap: wrap;
}
#foto {
    background-color: #66280a;
    padding: 5px;
    border-radius: 8px;
}

#foto img {
    display: block;
    max-width: 100%;
    height: auto;
}

.hobbies {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    background-color: #742b2b;
    border: 2px;
    padding: 20px;
    margin: 30px;
    overflow: auto;
    justify-content: center;
}

.hobbies li {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 15px;
    border-radius: 8px;
    flex: 1 1 150px;
}

.hobbies a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    gap: 10px;
}

.hobbies img {
    height: 30px;
    width: 30px;
}

#disciplinas > dt {
    color: green;
}

.destaque, #Horarios>tbody>tr>td{
    font-weight: bold;
}

.secao-voo{
    background-color: #742b2b;
    border: 2px;
    padding: 20px;
    margin: 30px;
    overflow: auto;
}

#voos > tbody > tr > td {
    background-color: #dac1ae;
    color: black
}
#voos > tbody > tr > td:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px dotted #663;
}

#audio {
    width: 90%;
    max-width: 340px;
    margin: 20px auto;
    text-align: center;
    background-color: #874421;
    padding: 10px;
    border-radius: 8px;
}
#voos{ 
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
    background-color: #886039;
    padding: 10px;
    border-radius: 8px;
}

#conteiner{
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    justify-content: space-around;
}
#conteiner > article{
    text-align: center;
    flex: 1 1 280px;
    max-width: 32%;
    margin: 10px;
    background-color:#886039 ;
    border-radius: 8px;
}
#ListaFotos{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}
#ListaFotos > img{
    margin: 0.5em;
    flex: 1 1 150px;
    max-width: 15%;
    height: auto;
}
#conteiner > article > ul,
#conteiner > article > ol {
    text-align: left;
    margin-top: 1em;
}
#loja{
    margin-bottom: 15%;
}
footer {
    background-color: #742b2b;
    color: white;
    text-align: center;
    margin: -10%;
    display: flex;
}
footer div {
    flex: 1;
    padding: 10px;
}
