* { box-sizing: border-box; }
body{
    background-color: #dac1ae; 
}
#primeiro {
    display: flex;
    align-items: center; /* Alinha verticalmente ao centro */
    gap: 10px; 
}
#foto {
    background-color: #66280a;
    padding: 5px;
    border-radius: 8px;
}

#foto img {
    display: block;
    max-width: 100%;
    height: auto;
}

.hobbies {
    display: flex;
    flex-wrap: wrap; /* Permite quebrar linha se não couber */
    gap: 20px;        /* Espaço entre os itens */
    list-style: none; /* Remove marcadores de lista */
    background-color: #742b2b;
    border: 2px ;
    padding: 20px;
    margin: 30px;
    overflow: auto ;
}

.hobbies li {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 15px;
    border-radius: 8px;
}

.hobbies a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    gap: 10px;
}

.hobbies img {
    height: 30px;
    width: 30px;
}

#disciplinas > dt {
    color: green;
}

.destaque, #Horarios>tbody>tr>td{
    font-weight: bold;
}

.secao-voo{
    background-color: #742b2b;
    border: 2px ;
    padding: 20px;
    margin: 30px;
    overflow: auto ;
}

#voos > tbody > tr > td {
    background-color: #dac1ae;
    color: black
}
#voos > tbody > tr > td:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px dotted #663;

}

#audio {
    width: 300px;                     
    margin: 20px auto;              
    text-align: center;              
    background-color: #874421;      
    padding: 10px;                  
    border-radius: 8px;             
}
#voos{ 
    width: 300px;                     
    margin: 20px auto;              
    text-align: center;              
    background-color: #886039;      
    padding: 10px;                  
    border-radius: 8px;   
}

#conteiner{
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    justify-content: space-around;
}
#conteiner > article{
    text-align: center;
    width: 32%;
}
#ListaFotos{
    display: flex;
    flex-wrap: wrap; 
}
#ListaFotos > img{
    margin: 0.5em;
    width: 28%;
    height: auto;
}
#conteiner > article > ul,
#conteiner > article > ol {
    text-align: left;
    margin-top: 1em;
}
